:root {
  --primary-color: #fff;
  --text-primary-color: #000;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: var(--primary-color);
  color: var(--text-primary-color)
  
}